.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px rgb(242, 242, 242);
}

.navbar ul {
  list-style: none;
  padding: 0px;
  margin: 0;
  display: flex;

}

.navbar ul a {
  margin: 0 12px;
  padding: 10px;
  border-bottom: solid 2px rgba(0, 0, 0, 0);
}
.navbar ul a:not(:first-child):hover {
  border-bottom: solid 2px rgb(95, 145, 219);
}

.navbar ul a {
  color: inherit;
  text-decoration: none;
}

.task-button {
  border: solid 2px rgb(236, 236, 236);
  border-radius: 5px;
  padding: 4px 8px;
}
.task-button:hover {
  border: solid 2px rgb(95, 145, 219);
}